button {
  background-color: $mainColor;
  color: $white;
  border: none;
  padding: 5px;
  font-size: 14px;
}
.button {
  cursor: pointer;
  @media (max-width: 450px){
    font-size: 15px;
  }
  &--repeat {
    &.active {
      color: $mainColor;
    }
  }
  &--random {
    &.active {
      color: $mainColor;
    }
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    line-height: 24px;
    padding: 7px 8px;
    box-shadow: none;
  }
}
.error-message {
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-size: 14px;
  color: $danger;
  i {
    margin-right: 10px;
  }
}