@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "~normalize.css";
@import "_variables.scss";
@import "_ui.scss";
@import "_mixins.scss";

@import "player.scss";
@import "track-list.scss";
@import "uploader.scss";
@import "loader.scss";
@import "forms.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: $backgroundColor;
  width: 100vw;
  min-height: 100vh;
  min-width: 320px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

input[type='file'] {
  display: none;
}

.soundcloud {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 800px;
  padding: 100px 10px;
}