.soundcloud {
}
.header {
  text-align: center;
}
.track-list {
  padding: 20px;
  background-color: $white;
  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $backgroundColor;
    padding: 20px 10px;
    & > * {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    &:hover{
      background-color: $backgroundColor;
    }
  }
  &__number {
  }
  &__name {
    flex: 1 1 auto;
  }
  &__size {
  }
}
