.uploader {
  padding: 20px;
  background-color: $white;
  margin-bottom: 15px;
  &__buttons {
    margin-bottom: 10px;
  }
  &__input {
  }
  &__btn {
  }
  &__files-list {
    .list-item {
      display: flex;
      justify-content: space-between;
      @include clear-list;
      padding: 10px 5px;
      &__info {}
      &__progress {
        position: relative;
        width: 100px;
        height: 5px;
        .progress-bar {
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: red;
        }
      }
    }
  }
}
